# Database Configuration
includes/constants.php
# Amazon Web Services Configuration File
sdk-1.5.6.2/config.inc.php
# CloudFront Connection Test Files
connectionTests/cftest.php
connectionTests/cftest2.php
!empty